<!doctype html>
<html ng-app="thermostat" ng-controller="thermostatController" class="ng-cloak">
  <head>
    <title>{{ state.actual_temperature }} Thermostat</title>
    <style>
      .ng-cloak { display: none; }
      h1 { font-size: 9em; margin: 0.25em; }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="initial-scale=1" />
  </head>
  <body>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <span>Thermostat</span>
        </h2>
      </div>
    </md-toolbar>
    <md-content>
      <div layout="row" layout-align="center center">
        <h1>{{ state.desired_temperature }}</h1>
        <div layout="column">
          <md-button class="md-icon-button" aria-label="Up" ng-click="up()">
            <md-icon>keyboard_arrow_up</md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Down" ng-click="down()">
            <md-icon>keyboard_arrow_down</md-icon>
          </md-button>
          <div layout="row" layout-align="center center">
            <small>{{ state.actual_temperature }}</small>
          </div>
        </div>
      </div>
      <div layout="row" layout-align="center center">
        <md-button ng-class="{'md-warn': state.mode == 'heat'}" ng-click="mode('heat')">Heat</md-button>
        <md-button ng-class="{'md-primary': state.mode == 'cool'}" ng-click="mode('cool')">Cool</md-button>
        <!--<md-button ng-class="{'md-primary': state.mode == 'fan'}" ng-click="mode('fan')">Fan</md-button>-->
        <md-button ng-class="{'md-primary': state.mode == 'off'}" ng-click="mode('off')">Off</md-button>
      </div>
      <div layout="row" layout-align="center center">
        <md-icon ng-show="state.relays.heat">whatshot</md-icon>
        <md-icon ng-show="state.relays.cool">ac_unit</md-icon>
        <!--<md-icon ng-show="state.fan">toys</md-icon>-->
      </div>
    </md-content>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.js"></script>
    <script>
      var app = angular.module('thermostat', ['ngMaterial']);
      app.factory('socket', function ($rootScope) {
        var socket = io.connect();
        return {
          on: function (eventName, callback) {
            socket.on(eventName, function () {  
              var args = arguments;
              $rootScope.$apply(function () {
                callback.apply(socket, args);
              });
            });
          },
          emit: function (eventName, data, callback) {
            socket.emit(eventName, data, function () {
              var args = arguments;
              $rootScope.$apply(function () {
                if (callback) {
                  callback.apply(socket, args);
                }
              });
            })
          }
        };
      });
      app.controller('thermostatController', function($scope, socket) {
        socket.on('state', function(state){
          $scope.state = state;
        });

        $scope.up = function() { var state = $scope.state; state.desired_temperature++; socket.emit('set state', state);};
        $scope.down = function() { var state = $scope.state; state.desired_temperature--; socket.emit('set state', state);};
        $scope.mode = function(mode) { var state = $scope.state; state.mode = mode; socket.emit('set state', state);};
      });
    </script>
  </body>
</html>
